/*======================== HEADER - logo and menu =============================*/
.ui-menu {
	
	position: absolute;
	top: 96px;
	left: 18em;
	
}
.ui-corner-all{
	
	border-color: #e3e3e3;
	border-bottom: solid 1px #bcc7cf;
	font-size:1em; 
	left: 1px;
	background-color:#e3e3e3;  
}

.menu_bar_header{
	position: relative;
	left:18em;
	width: 100%;
	display: block;
}
.header_paraky{
	
	background-color: #e3e3e3;
	display: block;
	width: 100%;
	height: 140px;
	
}
#image_header{
	float: left; 
	top: -50px;
	position: relative;
}

/*======================== PAGE TITLE =============================*/

.description_title {
	position: relative;
	top : 30px;
	background-color:#A2C6CD;
	display: block;
		
}

.description_title spam{
	font-family:monospace;
	font-size: 2em;
	position: relative;
}
/*======================= FILTER MENU ===============================*/
.description_filter{
	position: relative;
	top : 40px;
	display: inline;
	
}

.description_filter spam{
	font-family:monospace;
	font-size: 1.3em;
	position: relative;
}

.menu_filter{
	position: relative;
	top : 40px;
	left: 2em;
	display: inline;
}

.menu_filter button{
	left: 2em;
	display: inline;
}
/*======================== SUBMIT BUTTONS =============================*/

.submit_buttons_lower_page{
	position: relative;
	top : 30px;
	font-size: 1em;
	float: right;
	right: 2em;
	
}


/*======================== DATA TABLE =============================*/

.data_table_center_page{
	position: relative;
	top : 30px;
	font-size: 0.8em;
	
}

.ui-datatable thead th{
	background-color:#e3e3e3; 
}

.ui-widget {
font-family: Monospace;
font-size: 1.2em;

}
/*========================== FORM_BODY ============================*/

.form_body{
	top:3em;
	position:relative;
	co
}


