h1{
	color:blue;
}

.ui-menu {
	
	position: relative;
	top:95px;
	
}
.ui-corner-all{
	
	position: relative;
	border-color: #e3e3e3;
	/* border-radius: 20px; */
	display: block;
	border-bottom: solid 1px #bcc7cf;
	font-size:1em; 
	left: 1px;
	 float: left; 
	 background-color:#e3e3e3;  
}

.header_paraky{
	
	background-color: #e3e3e3;
	display: block;
	width: 100%;
	height: 140px;
	float: left;
	
}
#image_header{
	float: left; 
	top: -50px;
	position: relative;
}